.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

_book
csas-style
knitr-cache-docx
knitr-cache-pdf
knitr-cache-tex
knitr-figs-docx
knitr-figs-pdf
reference-materials
models*

sr.Rmd
sr.tex

*.aux
*.pptx
*.jpg
*.html
*.knit.md
*.log
*.rda
*.rds
*.Rproj
*.sty
*sty
*.upa
*.utf8.md
